@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

@font-face {
    font-family: 'Britannic-bold';
    src: url(fonts/britannic-bold.ttf.TTF) format(truetype);
}




body,html {
  
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    overflow-x: hidden;
            position: relative;
    padding: 0px;
}
.phone-number {
  display: flex;
 padding: 20px;
 padding-top: 0px;
  font-size: 26px;
  color: #333; /* Cor do texto */
}

.phone-number img {
  margin-right: 5px; /* Espaçamento entre o ícone e o número de telefone */
}
.whatsapp-link {
  position: fixed;
  bottom: 10px;
  right: 25px;
  background-color: #25D366; /* Cor de fundo do link, você pode ajustar conforme necessário */
  padding: 1px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.whatsapp-link img {
  width: 55px; /* Ajuste o tamanho do ícone conforme necessário */
  height: auto;
  display: block;
  margin: 0 auto;
}

.tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-bottom: 5px;
  transform: translateX(-50%);
  background-color: #ffffff;
  color:#00aeff;
  padding: 5px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.whatsapp-link:hover .tooltip {
  opacity: 1;
}

@media(min-width:800px){
  .whatsapp-link img{
    width: 65px;
  }
}


header{
  background-color: transparent; /* Inicialmente transparente */
    transition: background-color 0.3s ease; /* Adiciona uma transição suave */
    position: relative;
    z-index: 1000;/* Garante que o menu esteja acima de outros elementos */
    
    
}

h1{
    text-align: left;
    font:italic 700 2.3em arial, helvetica, sans-serif;
    color: #444444;
    margin: 7px;

}

h1#principal{
    display:block;
    font-family: 'Britannic-bold';
    font-size: 2.em;
    margin: 0px auto 0px auto;
    text-align: center;
}

h2{
    text-align: center;
    color: #18191a;
    font-size: 30px;
    margin: 0px 0px 10px 0px;
}
p{
  font-size: 19px;
    text-align: center;
    text-align: justify;
    padding: 20px;
    font-style: oblique;
    color:rgb(51,37,37);

}

.logo{
    width: 85px;
    display: block;
    margin:auto
}

h2.subtitulo{ 
    color: #70B7B3;
    font:normal 100 1em 'Open Sans', sans-serif;
    text-align: center;
    margin: 0px;
}
nav{

    background-image: linear-gradient(to right, #32EBBF, #4293EB);
    padding: 15px;
    margin-bottom: 0px;
    text-align: center;
    margin-top: 5px;
    box-shadow: 1px 1px 1px aqua;

}

img#img1 {
  margin-left: 60px;
  width: 100%;
  margin: auto;
  height: auto;
  display: block;
  background-size: cover;
}

.link:hover {
  background-color: #ffffff;
  color: #00aeff;
}

.pagina-atual{
  background-color: rgb(255, 255, 255);
  color: #00aeff;
}

.pagina-atual:hover{
  color:#EF7530;
}

.menu-toggle {
  cursor: pointer;
  display: inline-block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

li {
  flex-grow: 1; /* Para ocupar a largura total do contêiner */
  display: inline;
  margin: 0 10px;
}

a {
  display: block; /* Alterado para block para ocupar a largura total */
  text-decoration: none;
  color: rgb(248, 242, 242);
  font-weight: 700;
  font-style: italic;
  font-size: 22px;
  padding: 10px;
  border-bottom: 3px solid ; /* Adicionado border-bottom transparente inicial */
  text-align: center; /* Centraliza o texto */
}

/* Estilo para esconder o menu em telas maiores que 891px */
@media (min-width: 891px) {
  .menu-toggle {
    display: none;
  }

  ul {
    display: flex !important;
  }
}

/* Estilo para tornar o menu clicável em telas menores que 890px */
@media (max-width: 890px) {
  .menu-toggle {
    display: block;
  }

  ul {
    display: none;
    flex-direction: column;
    text-align: center;
  }

  ul.active {
    display: flex;
    justify-content: space-around;
  }

  ul.active a {
    border-bottom: 3px solid #ffffff; /* Corrigido aqui para 3px e cor branca */
    color: #00aeff;
  }
}

main {
  margin: 0px
}


article {
  text-align: center;
  margin-bottom: 20px;
}

span {
  color: #24B0F0;
}


:root {
  --text: #222222a9;
  --cor01: #04BFBF;
  --cor02: #03b3c7;
  --cor03: #064863;
}

.forms {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    338deg,
    var(--cor01) 35%,
    var(--cor02) 35%,
    var(--cor02) 65%,
    var(--cor01) 65%
  );
}

.form-manager {
  display: flex;
  
  width: 100%;
  max-width: 1200px;
  background-color: white;
  box-shadow: 3px 3px 25px 6px rgba(0, 0, 0, 0.486);
  border-radius: 12px;
}

.form {
  flex: 1;
  padding: 60px;
}

.form h1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 28px;
}

.form svg {
  width: 30px;
  height: 30px;
}

.form-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

label {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 14px;
  font-size: 14px;
  letter-spacing: -0.3px;
  font-weight: 400;
  color: var(--text);
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.11);
}

label::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--cor01);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 500ms;
}

label:focus-within,
label.active {
  color: var(--cor01);
}

label:focus-within::after,
label.active::after {
  transform: scaleX(1);
  transform-origin: left;
}

label:last-child {
  grid-column: 1/3;
}

label input {
  border: 0;
  background: transparent;
  outline: 0;
  font-size: 18px;
  width: 100%;
}

label input::placeholder {
  color: var(--text);
}

.form button {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 400px;
  height: 50px;
  font-size: 20px;
  color: white;
  background-color: #00aeff;
  margin-top: 20px;
  border-radius: 6px;
  border: 0;
  transition: all 400ms;
}

.form button:hover {
  background-color: #04BFBF;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  background-color: rgb(63, 63, 63);
  padding: 10px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.contact-info > div {
  display: flex;
  color: white;
  align-items: center;
  column-gap: 10px;
}

.contact-info svg {
  width: 30px;
  height: 30PX;
}

.contact svg path {
  width: 30px;
  height: 30PX;
  fill: #252525;
}

.contact-socials {
  display: flex;
  margin-top: 20px;
}

.contact-socials > a {
  border: transparent;
}

.contact-socials svg:hover {
  transform: scale(1.1);
}

.contact-socials svg {
  display: flex;
  width: 100px;
  height: 100px;
  transition: all 0.4s;
}

.contact h1 {
  color: white;
  font-size: 22px;
}

@media (max-width: 600px) {
  .form {
    padding: 10px;
  }

  .form-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .contact {
    display: none;
  }
  .form button{
    width: 95%;
  }
}




.container p{
    text-align: center;
}

article#saiba{
    display: inline-block;
   
  background-color: #24B0F0;
  
  }
   h1#método-01{
    margin-top: 70px;
   }
  article#saiba>p{
    height: auto;
    padding: 6px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.5em;
    color: white;
  }
  
  a#saibalink{
    padding: 0px;
  margin: 0px;
  text-decoration: none;
  font-style: normal;
  font-size: 1em;
  }
  
  #saibalink:hover{
    color:#EF7530;
  }
  
  @media  (min-width: 1100px) {
    .container{
      font-size: 1.5em;
     
    }
  }
  
  
  .mapBox {
    margin: auto;
    margin-top: 5px;
    margin-right: 4px;
    margin-bottom: 5px;
    margin-left: 4px;
    padding: 0;
    box-sizing: Border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    border: 3px solid black;
    background: #24B0F0;
    position: relative;
  }
  
  footer {
    background-image: linear-gradient(to right, #33ffb8, #1e8abd 80%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
  }
  
  footer article {
    text-align: center;
  
    margin-bottom: 20px;
    flex: 1 1 100%;
    /* Cada article ocupa 100% da largura em telas pequenas */
  }
  
  /* Adicione uma consulta de mídia para ajustar o layout em telas de tablet */
  @media (min-width: 750px) {
    footer article {
      flex: 1 1 48%;
      /* Divide a largura por dois, deixando espaço entre os articles */
      margin-right: 4%;
      /* Adiciona um pequeno espaçamento entre os articles */
    }
  
    footer article:last-child {
      margin-right: 0;
      /* Remove a margem direita do último article para evitar espaçamento extra */
    }
  }
  
  /* Adicione uma consulta de mídia para ajustar o layout em telas de computador */
  @media (min-width: 1000px) {
    footer article {
      flex: 1 1 30%;
      /* Divide a largura por três, deixando espaço entre os articles */
      margin-right: 3%;
      /* Adiciona um pequeno espaçamento entre os articles */
    }
  
    footer article:last-child {
      margin-right: 0;
      /* Remove a margem direita do último article para evitar espaçamento extra */
    }
  }
  
  footer>article>a>img {
    width: 40%;
    display: block;
    margin: auto;
  }
  
  footer>article>p>a:hover{
    color: #EF7530;
  }
  
  footer>article>h2,
  footer>article>p {
    color: white;
    margin: 10px 0;
  }
  
  footer>a:hover {
    background-color: #00aeff;
  }
  
  div#ephemera {
    display: flex;
    align-items: center;
    justify-content: center;
  }